/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: "IBM Plex Mono";

  --bg-color: #000028;
  --bg-accent-color: #ff0070;

  --head-color:#db00ff; 
  --head-shadow-color: #ff0070;

  --heading-main-color: #ff0070;
  --heading-accent-color: #000028;

  --button-color: #ff0070;
  --text-color: #f1b2ce;
  --link-shadow-color: #ff0070;
  --display-element: block;
}
